@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 6px 15px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* General Reset */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Flexbox for the Root Element */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full height of viewport */
}

/* App Layout */
.App {
  display: flex;
  flex-direction: column;
  flex: 1; /* Allow content to stretch */
}

/* Main Content */
main {
  flex: 1; /* Ensures main content stretches to push footer down */
}

/* Header Styling */
.header {
  background-color: #d6dbda;
  font-size: 20px;
  font-weight: 600;
  border-radius: 20px;
  text-align: center;
}

/* Footer */
.App-footer {
  padding: 8px;
  text-align: center;
  margin-top: 50px;
  font-size: 15px;
  background-color: #55efc4;
}

/* Typography */
h1 {
  text-align: center;
  color: #6F1E51;
}

h2 {
  background-color: #a4cdc2;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
}

/* Table Styling */
:where(.css-dev-only-do-not-override-nqoqt9).ant-table-wrapper table {
  font-size: 20px;
}

:where(.css-dev-only-do-not-override-nqoqt9).ant-table-wrapper .ant-table-container table > thead > tr > th {
  background-color: #55efc4;
  color: #6F1E51;
  font-weight: bold;
}

:where(.css-dev-only-do-not-override-nqoqt9).ant-table-wrapper .ant-table-tbody > tr > td {
  border-style: solid;
}

:where(.css-dev-only-do-not-override-nqoqt9).ant-table-wrapper .ant-table-tbody > tr:last-child > td {
  border-bottom: 1px solid black;
}

/* Pagination */
:where(.css-dev-only-do-not-override-nqoqt9).ant-pagination .ant-pagination-item-active a {
  color: black;
  background-color: white;
  border-style: dashed;
}

/* Buttons */
:where(.css-dev-only-do-not-override-nqoqt9) a {
  background-color: #007bff;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
  padding: 10px 20px;
}


/* Mobile Layout Adjustments */
@media (max-width: 480px) {
  * {
    margin: 0;
  }
  
  .header {
    font-size: 16px;
    padding: 8px;
    border-radius: 10px;
  }

  .App-footer {
    font-size: 12px;
    margin-top: 20px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 10px;
  }

  :where(.css-dev-only-do-not-override-nqoqt9).ant-table-wrapper table {
    font-size: 14px;
  }

  :where(.css-dev-only-do-not-override-nqoqt9) a {
    padding: 6px;
  }
  
}
