@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

nav {
  background-color: #333;
  padding: 5px 10px;
}

.Header_ol {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
  margin: 0;
  align-items: center;
  font-size: small;
}

.Header_ol a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.Header_ol a:hover {
  text-decoration: underline;
  color: #27ae60;
}
h4{
  margin: 2px;
  text-align: center;
  color: #e58e26;
  background-color: #333;
  width: fit-content;  
  display: inline-flex;
}