@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body{
  background-color:#d89c9c;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bmi-calculator{
  background-color: #fff;
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
}

.logo{
 background-image: url('./bmi.png');
width: 220px;
height: 220px;
background-repeat: no-repeat;
background-position: center;
}

.data{
  flex: 1;
  padding: 20px;
}
h2{
  color: rgb(94, 94, 185);
}
.input_container{
display: flex;
flex-direction: column;
margin: 20px 0 20px 0;
}
.textbox{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
}
button {
  background-color: #007bff;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
  padding: 10px 20px;
  margin: 0 15px 15px 15px;
}
.ok:hover {
  background-color: rgb(56, 191, 56);
}
.clear:hover {
  background-color: rgb(212, 73, 34);
}

.result{
border : 2px solid #a0a0a0; 
padding: 10px;
margin-top: 15px;

}